@media only screen and (max-width:1140px){
    .navlist{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        height: 450px;
        transition: all 0.7s ease-out;
    }
    .rightnav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    #search{
        width: 100%;
    }
    .btn-sm{
        display: flex;
        align-items: start;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 70px;
    }
    .v-class-resp{
       visibility: hidden;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
    }
    .text-big{
        margin-top: 20px;
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
}