* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 40%;
    border: 3px solid white;
    margin: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    z-index: 1000;
}

.navlist {
    width: 50%;
    display: flex;
    align-items: center;
}

.navlist li {
    list-style: none;
    padding: 25px 30px;
}

.navlist li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navlist li a:hover {
    color: gray;
}

.rightnav {
    width: 50%;
    text-align: right;
    margin-right: 60px;
}

#search {
    width: 40%;
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 10px;
    margin-right: 10px;
}

.background {
    background: rgba(0, 0, 0, 0.5) url(../assets/naman-pandey-hRJq_nPu1jA-unsplash.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

.firstsection {
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 70%;
}

.firsthalf {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secondhalf {
    width: 30%;
}

.secondhalf img {
    width: 70%;
    border: 4px solid white;
    display: block;
    margin: auto;
}

.text-big {
    font-size: 40px;
}

.text-small {
    font-size: 15px;
}

.btn {
    padding: 8px 20px;
    margin: 20px 3px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 18px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm {
    padding: 4px 10px;
}

.btn-dark {
    color: black;
    border: 2px solid gray;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: auto;
    padding: 20px;
    text-align: justify;
}

.section-left {
    flex-direction: row-reverse;
}

.paras {
    padding: 0 65px;
}

.sectiontag {
    padding: 15px 0;
}

.thumbnail img {
    width: 300px;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 20px;

    /* -webkit-animation: thumbnail 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: thumbnail 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */

}

.contact {
    background-color: #d6d0c9;
    height: 650px;
}

.text-transform {
    text-align: center;
    padding: 20px;
    font-size: 35px;
}

.from {
    max-width: 62%;
    margin: 25px auto;
}

.from-input {
    width: 100%;
    font-size: 15px;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 15px 0;
    padding: 5px 3px;
}

.text-footer {
    text-align: center;
    padding: 20px;
    font-size: 25px;
    color: white;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 18px;
}

.line {
    width: 30px;
    background-color: white;
    height: 3px;
    margin: 5px 3px;
}






 /* @-webkit-keyframes thumbnail {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes thumbnail {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
   */